<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application
        android:name=".ToDoApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToDoListPersonal">
        <!-- Main Activity - Launcher Activity dengan Drawer dan Bottom Navigation -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ToDoListPersonal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Tasks Screen Activity -->
        <activity
            android:name=".TasksActivity"
            android:exported="false"
            android:label="Tasks"
            android:theme="@style/Theme.ToDoListPersonal" />

        <!-- Calendar Screen Activity -->
        <activity
            android:name=".CalendarActivity"
            android:exported="false"
            android:label="Calendar"
            android:theme="@style/Theme.ToDoListPersonal" />

        <!-- New Task Dialog Activity -->
        <activity
            android:name=".NewTaskActivity"
            android:exported="false"
            android:theme="@style/Theme.ToDoListPersonal.Dialog" />

        <!-- Task Detail Screen Activity -->
        <activity
            android:name=".TaskDetailActivity"
            android:exported="false"
            android:label="Task Detail"
            android:theme="@style/Theme.ToDoListPersonal" />

        <!-- Theme Selection Activity -->
        <activity
            android:name=".ThemeActivity"
            android:exported="false"
            android:label="Theme"
            android:theme="@style/Theme.ToDoListPersonal" />

        <!-- Settings Activity -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="Settings"
            android:theme="@style/Theme.ToDoListPersonal" />
    </application>

</manifest>
